<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
  <!-- Favicon-->
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="plugins/node-waves/waves.css" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="plugins/animate-css/animate.css" rel="stylesheet" />

  <!-- Morris Chart Css-->
  <link href="plugins/morrisjs/morris.css" rel="stylesheet" />

   <!-- JQuery DataTable Css -->
   <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">

  <!-- Custom Css -->
  <link href="css/style.css" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="css/themes/all-themes.css" rel="stylesheet" />
  <script>
    localStorage.clear();
  </script>

</head>

<body class="theme-teal">

  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
  <!-- Top Bar -->
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar-collapse" aria-expanded="false"></a>
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="index.html">INSTALLATION FLOW</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- Call Search -->
          <li><a href="javascript:location.reload();"><i class="material-icons">refresh</i></a>
          </li>
          <!-- #END# Call Search -->


          <!-- <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i
                  class="material-icons">more_vert</i></a></li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Right Sidebar -->
  <aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
      <li role="presentation" class="active"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active in active" id="settings">
        <div class="demo-settings">
          <p>ORDER SETTINGS</p>
          <ul class="setting-list">
            <li>
              <span>Accepting Orders</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li>
            <li>
              <span>Auto Accept Orders</span>
              <div class="switch">
                <label><input type="checkbox"><span class="lever"></span></label>
              </div>
            </li>
          </ul>
          <!-- <p>SYSTEM SETTINGS</p>
          <ul class="setting-list">
            <li>
              <span>Notifications</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li>
            <li>
              <span>Auto Updates</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li>
          </ul> -->
          <p>ACCOUNT SETTINGS</p>
          <ul class="setting-list">
            <li>
              <span>Offline</span>
              <div class="switch">
                <label><input type="checkbox"><span class="lever"></span></label>
              </div>
            </li>
            <!-- <li>
              <span>Location Permission</span>
              <div class="switch">
                <label><input type="checkbox" checked><span class="lever"></span></label>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </aside>
  </section>
  <!-- #END# Right Sidebar -->
  <!-- #Top Bar -->


  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <!-- <h2>DASHBOARD</h2> -->
      </div>
      <!-- Widgets -->
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/';">
          <div class="info-box-4 hover-zoom-effect bg-teal">
            <div class="content">
              <div class="text"><b>OPEN ORDERS</b></div>
              <div class="number count-to" data-from="0" data-to="<%=newOrdersCount%>" data-speed="2"
                data-fresh-interval="20"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/reconfirm/0';">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text"><b>RECONFIRM</b></div>
              <div class="number count-to" data-from="0" data-to="<%=reconfirmOrdersCount%>" data-speed="2"
                data-fresh-interval="20">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/readyForInstallation/0';">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text">READY FOR INSTALLATION</div>
              <div class="number count-to" data-from="0" data-to="<%=readyToInstallCount%>" data-speed="2"
                data-fresh-interval="20">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" onclick="window.location='/rescheduled';">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text"><b>RESCHEDULED ORDERS</b></div>
              <div class="number count-to" data-from="0" data-to="<%=totalRescheduleCount%>" data-speed="2"
                data-fresh-interval="20">
              </div>
            </div>
          </div>
        </div>


      </div>




      <div class="row clearfix">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text">
                <b>SE RESPONSE STATUS</b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/seResponseStatus/0/pending';">
                    Pending </br> <b>
                      <%=sePendingList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/seResponseStatus/0/accepted';">
                    Accepted </br><b>
                      <%=seAcceptedList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/seResponseStatus/0/declined';">
                    Declined </br><b>
                      <%=seDeclinedList%>
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text">
                <b>FARMER RESPONSE STATUS</b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewFarmerStatus/pending';">
                    Pending </br><b>
                      <%=farmerPendingList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewFarmerStatus/accepted';">
                    Accepted </br><b>
                      <%=farmerAcceptedList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewFarmerStatus/cancelled';">
                    Cancelled </br><b>
                      <%=farmerDeclinedList%>
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="info-box-4 hover-zoom-effect">
            <div class="content">
              <div class="text">
                <b>INSTALLATION STATUS</b>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewInstallationStatus/pending';">
                    In Progress </br><b>
                      <%=installationPendingList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewInstallationStatus/partial';">
                    Partial </br><b>
                      <%=installationPartialCompleteList%>
                    </b>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
                    onclick="window.location='/viewInstallationStatus/completed';">
                    Completed </br><b>
                      <%=installationCompletedList%>
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- #END# Widgets -->

      <!-- Hover Rows -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                OPEN ORDERS
              </h2>
              <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);">Action</a></li>
                    <li><a href="javascript:void(0);">Another action</a></li>
                    <li><a href="javascript:void(0);">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="body table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example">
                <thead>
                  <tr>
                    <th style="text-align: center;">ORDER ID</th>
                    <th style="text-align: center;">BDE NAME</th>
                    <th style="text-align: center;">CREATED DATE</th>
                    <th style="text-align: center;">FOLLOWUP DATE</th>
                    <th style="text-align: center;">FARMER NAME</th>
                    <th style="text-align: center;">FARM NAME</th>
                    <th style="text-align: center;">FARMER MOBILE</th>
                    <th style="text-align: center;">REGION</th>
                    <th style="text-align: center;">ITEMS &nbsp;-&nbsp; ORD &nbsp;-&nbsp; INST</th>
                    <th style="text-align: center;">REMARKS</th>
                    <th style="text-align: center;">ACTION</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th style="text-align: center;">ORDER ID</th>
                    <th style="text-align: center;">BDE NAME</th>
                    <th style="text-align: center;">CREATED DATE</th>
                    <th style="text-align: center;">FOLLOWUP DATE</th>
                    <th style="text-align: center;">FARMER NAME</th>
                    <th style="text-align: center;">FARM NAME</th>
                    <th style="text-align: center;">FARMER MOBILE</th>
                    <th style="text-align: center;">REGION</th>
                    <th style="text-align: center;">ITEMS &nbsp;-&nbsp; ORD &nbsp;-&nbsp; INST</th>
                    <th style="text-align: center;">REMARKS</th>
                    <th style="text-align: center;">ACTION</th>
                  </tr>
                </tfoot>
                <tbody style="text-align: center;">
                  <% data1.forEach(function(singleData){ %>
                    <tr>
                      <td width="5%">
                        <%= singleData.data.order.woo_commerce_order_id %>
                      </td>
                      <td width="7%">
                        <%= singleData.data.order.farmer.relationship_BDE.first_name %>
                      </td>
                      <td width="7%">
                        <%= singleData.data.created_date.substring(0,10) %>
                      </td>
                      <td width="7%">
                        <% if(singleData.data.followup_date != null){%>
                          <%=singleData.data.followup_date.substring(0,10)%>
                          <%}else{%>
                       No Followups
                       <%}%>
                      </td>
                      <td>
                        <%= singleData.data.order.farmer.firstname %>
                      </td>
                      <td>
                        <!-- onchange="selectedFarm<%=singleData.id%>()" -->
                        <select id="farmNamesId<%=singleData.data.id%>" multiple>
                          <% singleData.data.order.farmer.farms.forEach(function(farmNames){ %>
                            <option value="<%=farmNames.id%>">
                              <%=farmNames.farm_name%>
                            </option>
                            <%});%>
                        </select>

                        <script>
                          $(function () {
                            $('#farmNamesId<%=singleData.data.id%>').change(function (e) {

                              localStorage.removeItem("selectedFarmId<%= singleData.data.id%>");
                              var selected = $(e.target).val();
                              localStorage.setItem("selectedFarmId<%= singleData.data.id%>", selected);
                              var selectedFarmId = localStorage.getItem("selectedFarmId<%= singleData.data.id%>");
                              var selectedDate = localStorage.getItem("selectedDate<%= singleData.data.id%>");
                              var selectedTimeframe = localStorage.getItem("selectedTimeframe<%= singleData.data.id%>");
                              var remarks = localStorage.getItem("remarks<%= singleData.data.id%>");

                              url = "/assignDate/<%=singleData.data.id%>/" + selectedFarmId + "/" + selectedDate + "/" + selectedTimeframe + "/" + remarks;
                              $("#addBtn<%=singleData.data.id%>").attr("href", url);

                              return true;
                            });
                          });
                        </script>
                      </td>
                      <td>
                        <%= singleData.data.order.farmer.mobile_number %></br><a
                            href="tel:<%= singleData.data.order.farmer.mobile_number %>"><button type="button"
                              class="btn bg-teal btn-circle waves-effect waves-circle waves-float">
                              <i class="material-icons">call</i>
                            </button></a>
                      </td>
                      <td> <button data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                          title="Shipping Address" data-content="<%= singleData.data.order.shipping %>">
                          <%= singleData.data.region %>
                        </button>
                      </td>
                      <td style="width: 15%;">
                        <% singleData.data.order.items.forEach(function(itemsList){ %>
                          <% if(itemsList.name=="APFC - Automatic power factor Controller" ){%>
                            APFC - <%= itemsList.quantity %> - <%= itemsList.completed %> </br>
                                <%}if(itemsList.name=="Powermon 2.0"){%>
                                  Powermon - <%= itemsList.quantity %> - <%= itemsList.completed %></br>
                                      <%}%>

                                        <% }) %>
                      </td>
                      <td style="width: 20%;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                            <% singleData.remarks.slice(0, 3).forEach(singleRemark=> {%>
                              <% if(singleRemark.remarks.length !=0 ){%>
                                <%= singleRemark.remarks%></br>
                                  <%}else if(singleRemark.remarks.length==0){%>
                                    No Remarks
                                    <%}%>
                                      <% }) %>

                                        <div class="modal fade" id="modal<%=singleData.data.id%>" tabindex="-1"
                                          role="dialog">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h4 class="modal-title" id="defaultModalLabel">REMARKS</h4>
                                              </div>
                                              <div class="modal-body">
                                                <table>
                                                  <% singleData.remarks.forEach(singleRemark=> {%>
                                                    <% if(singleRemark.remarks.length !=0 ){%>
                                                      <tr>
                                                        <td>
                                                          <%= singleRemark.modified_date%>
                                                        </td>
                                                        <td>
                                                          <%= singleRemark.remarks%>
                                                        </td>
                                                      </tr>
                                                      <%}else if(singleRemark.remarks.length==0){%>
                                                        No Remarks
                                                        <%}%>
                                                          <% }) %>
                                                </table>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-link waves-effect"
                                                  data-dismiss="modal">CLOSE</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                                        <i class="material-icons" data-toggle="modal"
                                          data-target="#modal<%=singleData.data.id%>">more_horiz</i>
                          </div>

                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <ul>
                              <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                  role="button" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                  <li><a href="#"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(1,'CS - Call Pickedup and Confirmed')">Call
                                      Pickedup and
                                      Confirmed</a></li>
                                  <li><a href="#"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(1,'CS - BDE Confirmed')">BDE
                                      Confirmed</a>
                                  </li>
                                  <li><a href="/addRemarks/<%=singleData.data.id%>/CS - Didnt Pick Call"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(0)">Didn't Pick Call</a>
                                  </li>
                                  <li><a href="/addRemarks/<%=singleData.data.id%>/CS - Number doesnt exist"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(0)">Number doesn't exist</a>
                                  </li>
                                  <li onclick="openFollowupModal<%=singleData.data.id%>()"><a>Call me later</a>
                                  </li>
                                  <li><a href="/addRemarks/<%=singleData.data.id%>/CS - Customer Abused"
                                      onclick="enableSubmitButton<%=singleData.data.id%>(0)">Customer Abused</a></li>
                                </ul>
                              </li>
                            </ul>

                           

                            <div class="modal fade" id="followbackModal<%=singleData.data.id%>" tabindex="-1"
                              role="dialog" data-keyboard="false" data-backdrop="static">
                              <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Add Followup Date</h4>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row clearfix">
                                      <div><input type="datetime-local" class="form-control date"
                                        id="followupDate<%=singleData.data.id%>" onchange="addFollowupDate<%=singleData.data.id%>(event)"
                                        required></div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <a href="#" id="followupBtn<%=singleData.data.id%>"><button onclick="removeLocalSTorage()" id="followupBtn<%=singleData.data.id%>1" type="button" class="btn btn-link waves-effect bg-teal">CREATE FOLLOWUP</button></a>
                                    <button type="button" class="btn btn-link waves-effect bg-red" data-dismiss="modal">CLOSE</button>
                                  </div>
                                </div>
                              </div>
                            </div>


                            <script>
                              function openFollowupModal<%=singleData.data.id%>() {
                                $('#followbackModal<%=singleData.data.id%>').modal('show');
                              }

                              function addFollowupDate<%=singleData.data.id%> (e) {
                            localStorage.removeItem("followupDate<%= singleData.data.id%>");
                            var x = document.getElementById("followupDate<%=singleData.data.id%>").value;
                            localStorage.setItem("followupDate<%= singleData.data.id%>", x);
                            localStorage.removeItem("selectedFarmId<%= singleData.data.id%>");
                            localStorage.removeItem("selectedDate<%= singleData.data.id%>");
                            localStorage.removeItem("selectedTimeframe<%= singleData.data.id%>");
                            localStorage.removeItem("remarks<%= singleData.data.id%>");
                            var followupDate = localStorage.getItem("followupDate<%= singleData.data.id%>");

                            url = "/assignFollowupDate/<%=singleData.data.id%>/Call me later/" + followupDate;
                            $("#followupBtn<%=singleData.data.id%>").attr("href", url);

                            return true;
                          }
                            </script>


                          </div>

                        </div>
                        <script>
                          function enableSubmitButton<%=singleData.data.id%> (a, b) {

                            if (a == 1) {
                              $("#addBtn<%=singleData.data.id%>1").attr("disabled", false);
                              $("#timeframe<%=singleData.data.id%>").attr("disabled", false);
                              $("#dateTime<%=singleData.data.id%>").attr("disabled", false);

                              localStorage.removeItem("remarks<%= singleData.data.id%>");
                              var x = b;
                              localStorage.setItem("remarks<%= singleData.data.id%>", x);
                            } else if (a == 0) {
                              $("#addBtn<%=singleData.data.id%>1").attr("disabled", true);
                              $("#timeframe<%=singleData.data.id%>").attr("disabled", true);
                              $("#dateTime<%=singleData.data.id%>").attr("disabled", true);
                              localStorage.removeItem("remarks<%= singleData.data.id%>");
                            }


                            return true;
                          }
                        </script>
                        <style>
                          li {
                            list-style-type: none;
                          }
                        </style>

                      </td>
                      <td width="18%">
                        <div class="row clearfix">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="date" class="form-control date"
                              id="dateTime<%=singleData.data.id%>" onchange="handler<%=singleData.data.id%>(event)"
                              required disabled></div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <select id="timeframe<%=singleData.data.id%>"
                              onchange="selectedTimeFrameFunction<%=singleData.data.id%>()" disabled>
                              <option value="">--Select Time--</option>
                              <option value="7AM - 10AM">7:00 AM - 10:00 AM</option>
                              <option value="10AM - 1PM">10:00 AM - 1:00 PM</option>
                              <option value="2PM - 5PM">2:00 PM - 5:00 PM</option>
                              <option value="7AM - 1PM">7:00 AM - 1:00 PM</option>
                              <option value="7AM - 5PM">7:00 AM - 5:00 PM</option>
                            </select>
                          </div>
                        </div>
                        </br>

                        <a href="#" id="addBtn<%=singleData.data.id%>"><button onclick="removeLocalSTorage()"
                            type="button date" id="addBtn<%=singleData.data.id%>1"
                            class="btn bg-teal waves-effect col-lg-12 col-md-12 col-sm-12 col-xs-12" disabled>Schedule
                            Date</button>
                        </a>
                        <script>
                          function handler<%=singleData.data.id%> (e) {
                            localStorage.removeItem("selectedDate<%= singleData.data.id%>");
                            var x = document.getElementById("dateTime<%=singleData.data.id%>").value;
                            localStorage.setItem("selectedDate<%= singleData.data.id%>", x);
                            var selectedFarmId = localStorage.getItem("selectedFarmId<%= singleData.data.id%>");
                            var selectedDate = localStorage.getItem("selectedDate<%= singleData.data.id%>");
                            var selectedTimeframe = localStorage.getItem("selectedTimeframe<%= singleData.data.id%>");
                            var remarks = localStorage.getItem("remarks<%= singleData.data.id%>");

                            url = "/assignDate/<%=singleData.data.id%>/" + selectedFarmId + "/" + selectedDate + "/" + selectedTimeframe + "/" + remarks;
                            $("#addBtn<%=singleData.data.id%>").attr("href", url);

                            return true;
                          }
                          function removeLocalSTorage() {
                            localStorage.removeItem("selectedFarmId<%= singleData.data.id%>");
                            localStorage.removeItem("selectedDate<%= singleData.data.id%>");
                            localStorage.removeItem("selectedTimeframe<%= singleData.data.id%>");
                            localStorage.removeItem("remarks<%= singleData.data.id%>");
                          }
                        </script>
                        <script>
                          function selectedTimeFrameFunction<%=singleData.data.id%> () {
                            localStorage.removeItem("selectedTimeFrame<%= singleData.data.id%>");
                            var x = document.getElementById("timeframe<%=singleData.data.id%>").value;
                            localStorage.setItem("selectedTimeFrame<%= singleData.data.id%>", x);
                            var selectedFarmId = localStorage.getItem("selectedFarmId<%= singleData.data.id%>");
                            var selectedDate = localStorage.getItem("selectedDate<%= singleData.data.id%>");
                            var selectedTimeframe = localStorage.getItem("selectedTimeFrame<%= singleData.data.id%>");
                            var remarks = localStorage.getItem("remarks<%= singleData.data.id%>");

                            url = "/assignDate/<%=singleData.data.id%>/" + selectedFarmId + "/" + selectedDate + "/" + selectedTimeframe + "/" + remarks;
                            $("#addBtn<%=singleData.data.id%>").attr("href", url);

                            return true;
                          }
                        </script>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>

              <!-- <button type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float">
                <i class="material-icons float">add</i>
              </button> -->

            </div>
          </div>
        </div>
      </div>
      <!-- #END# Hover Rows -->
    </div>

  </section>

  <!-- Jquery Core Js -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="js/pages/ui/tooltips-popovers.js"></script>

  <!-- Bootstrap Core Js -->
  <script src="plugins/bootstrap/js/bootstrap.js"></script>

  <!-- Select Plugin Js -->
  <!-- <script src="plugins/bootstrap-select/js/bootstrap-select.js"></script> -->

  <!-- Jquery DataTable Plugin Js -->
  <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


  <!-- Slimscroll Plugin Js -->
  <script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

  <!-- Waves Effect Plugin Js -->
  <script src="plugins/node-waves/waves.js"></script>

  <!-- Jquery CountTo Plugin Js -->
  <script src="plugins/jquery-countto/jquery.countTo.js"></script>

  <!-- Morris Plugin Js -->
  <script src="plugins/raphael/raphael.min.js"></script>
  <script src="plugins/morrisjs/morris.js"></script>

  <!-- ChartJs -->
  <script src="plugins/chartjs/Chart.bundle.js"></script>

  <!-- Flot Charts Plugin Js -->
  <script src="plugins/flot-charts/jquery.flot.js"></script>
  <script src="plugins/flot-charts/jquery.flot.resize.js"></script>
  <script src="plugins/flot-charts/jquery.flot.pie.js"></script>
  <script src="plugins/flot-charts/jquery.flot.categories.js"></script>
  <script src="plugins/flot-charts/jquery.flot.time.js"></script>

  <!-- Sparkline Chart Plugin Js -->
  <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

  <!-- Custom Js -->
  <script src="js/admin.js"></script>
  <script src="js/pages/index.js"></script>
  <script src="js/pages/tables/jquery-datatable.js"></script>

  <!-- Demo Js -->
  <script src="js/demo.js"></script>
</body>

</html>